#parse('myjs.vm')
#parse('top.vm')
<link href='style-table.css' rel='stylesheet' type='text/css'>

<script language='javascript' type='text/javascript' src='common.js'></script>
<script type="text/javascript" src="tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
		mode : "textareas",
		theme : "simple"
	});
</script>
<script>
function saveBodyPart(id)
{
	document.getElementById('bodypartForm').action = "bodypartList.action?action=savebodypart&id="+id;

	document.getElementById('bodypartForm').submit();
}

function deleteBodyPart(id)
{
	document.getElementById('bodypartForm').action = "bodypartList.action?action=deletebodypart&id="+id;
	document.getElementById('bodypartForm').submit();
}
function editBodyPart(id)
{
	document.getElementById('bodypartForm').action = "bodypartList.action?action=editbodypart&id="+id;

	document.getElementById('bodypartForm').submit();
}


</script>

<body id='wrap'>
<form id='bodypartForm' name='bodypartForm' action='bodypartList.action' class='niceform' method='POST'>
<br>

<div id='container' >
  <div class='pageheader'>
    <p>
      <input name='button' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('savebodypart').innerHTML=''" value=' X '>
      $i18n.get('add') $i18n.get('bodypart')  </p>
    </div>
  <table width="804" border="0">
    <tr>
      <td width="82">&nbsp;</td>
      <td width="159">&nbsp;</td>
      <td width="549"><input type='hidden'  id='id' name='id' value="$bodypart.id" size='15'></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>$i18n.get('node')</td>
      <td><input type='text'  id='node' name='node' size='15' value='$!bodypart.node' onKeyPress="formname='bodypartForm'; nextfield='description';"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>$i18n.get('description') </td>
      <td><textarea name="description" cols="100" rows="30" id="textarea" onKeyPress="formname='bodypartForm'; ">$!bodypart.description</textarea></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><input name="button2" type="button" onClick="saveBodyPart('$!bodypart.id')" value="  Save ">
        <input name="button22" type="button" onClick="editBodyPart(0)" value="Add new "></td>
    </tr>
  </table>

  <div >
    <table width="800" border="0">
      <tr class='pageheader'>
        <td colspan="2"><input name='button3' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('savebodypart').innerHTML=''" value=' X '>
$i18n.get('list') $i18n.get('bodypart') </td>
        </tr>
      <tr >
        <td>$i18n.get('node'):</td>
        <td><input type="text" id="searchbodypart" name="searchbodypart" onKeyUp="makeGetRequestBodypartBySearch(document.getElementById('searchbodypart').value, 'searchbodypart')"/></td>
        </tr>
    </table>
  </div>
  <div id='tablebodypartview' style='border:#FFFFFF thin solid; width:100%; height: auto; left:25; overflow-y: auto; display:block'>

#parse("responseBodypartBySearch.vm")

</div>
</div>
</div>
    <br>
</form>
</body>