
<div id='addcashadvance'>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link href='style-table.css' rel='stylesheet' type='text/css'>
<script language='javascript' type='text/javascript' src='common.js'></script>
#parse('myjs.vm')

<body id='wrap'>
<br>
<div id='container' style='border:#FFFFFF thin solid; width:750; left:25; position: relative;'>
<div class='pageheader'>
<input name='button' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('addcashadvance').innerHTML=''" value=' X '>  

$i18n.get('add') $i18n.get('cashadvance')
<div id='msg' align='right'></div>
</div>

<form id='cashadvanceForm' name='cashadvanceForm' action='cashadvanceAdd.action' class='niceform' method='POST'>
<br>
<table>
<tr class='formlabel'>
			<td><label>$i18n.get('encounter'):</label> </td>
			<td>
			#set ($ses = $req.getSession())
					
			#set ($encounter_id = $ses.getAttribute('encounter_id'))
			#set ($encounter_node = $ses.getAttribute('encounter_node'))
			
			<input type='hidden' id='encounter' name='encounter'  size='1' value='$!encounter_id' onchange='makeGetRequestEncounterByTypeHead()' onkeypress="formname='cashadvanceForm'; nextfield='textencounter';"> 
			
			<input type='text' id='textencounter' name='textencounter' size='18' value='$!encounter_node' onkeypress="formname='cashadvanceForm'; nextfield='cboencounter'; isSelect=true;"  onkeyup='makeGetRequestEncounterByTypeHead()' onclick='makeGetRequestEncounterByTypeHead()'>	
			
			<div id='divencounter' style='display:none;position:absolute'  onkeypress="formname='cashadvanceForm'; nextfield='node';"></div>							
			<a href='javascript:void(0)' onclick="window.open('encounterList.action', 'Add encounter', 'width=400, height=300')"> ... </a>
		
			<td><label>$i18n.get('node'):</label></td> 
			<td>
			<input type='text'  id='node' name='node' size='15' onblur='getSmartDate(this)' onkeypress="formname='cashadvanceForm'; nextfield='amount';" value=$!novalue >
			<img src='images/calendar_icon.gif' id='triggernode'>
			</td>
			
			<td><label>$i18n.get('amount'):</label></td> <td><input type='text'  id='amount' name='amount' size='15' value='' onkeypress="formname='cashadvanceForm'; nextfield='code';"> </td>
			</tr><tr class='formlabel'>
			<td><label>$i18n.get('code'):</label></td> <td><input type='text'  id='code' name='code' size='15' value='TU' onkeypress="formname='cashadvanceForm'; nextfield='type';"> </td>
			
			<td><label>$i18n.get('type'):</label></td> <td><input type='text'  id='type' name='type' size='15' value='TAMUNG, HOANUNG' onkeypress="formname='cashadvanceForm'; nextfield='savecashadvance';"> </td>
			
<tr><td>
<input type='button' id='savecashadvance' value="  $i18n.get('save')  " onkeydown="javascript:validateCashadvance('add', document.getElementById('cashadvanceForm') )"  onclick="javascript:validateCashadvance('add', document.getElementById('cashadvanceForm') )" onkeypress="nextfield='';">
</td></tr>
</table>
</form>
</div>
</body>
</div>
