<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link rel='stylesheet' type='text/css' href='style-table.css' />
<body id="wrap">
	<div class="box">
		You changed the password successfull.
	
		<li> You click <a href='register.action'> here </a> to login with others </li>
	</div>
</body>