<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link rel='stylesheet' type='text/css' href='style-table.css' />
<script language="javascript">

	function showDiv(){
		var password = document.changepasswordform.newpassword.value;
		var confPass = document.changepasswordform.confpassword.value;
		if(password == ""){
			document.getElementById('notNullPass').style.visibility = "visible";
			return false;
		}
		else
			document.getElementById('notNullPass').style.visibility = "hidden";
			
		if(password!=confPass){
			document.getElementById('confPass').style.visibility = "visible";
			return false;
 		}else
			document.getElementById('confPass').style.visibility = "hidden";
		return true;
	}
	
</script>
<body id='wrap'>
<br>
<div id='container' style='border:#FFFFFF thin solid; width:750; left:25; position: relative;'>
<div class='pageheader'>
<input name='button' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('addclient').innerHTML=''" value=' X '>
&#272;&#259;ng k&yacute; kh&aacute;m t&#7841;i PK&#272;K M&#7929; T&ugrave;ng
<div id='msg' align='right'></div>
</div>
<form name='changepasswordform' action='clientChangePassword.action' method='POST'>
<br>
			<table width="752">
			
			<tr>
			  <td width="161" class="formlabel">&nbsp;</td>
			  <td width="148" class="formlabel"><label>MS kh&aacute;ch h&agrave;ng :</label> </td>
				<td width="143" class="formcontrol"><input type='text' id='code' name='code' size='20' value='$!client.code'> </td>
				<td width="280"></td>
			</tr>
			
			<tr>
			  <td class="formlabel">&nbsp;</td>
				<td class="formlabel"><label>M&#7853;t kh&#7849;u c&#361;:</label></td>
				<td class="formcontrol"><input type='password' id='password' name='password' size='20' value='$!client.password'> </td>
				<td></td>
			</tr>
			
			<tr>
			  <td class="formlabel">&nbsp;</td>
				<td class="formlabel"><label>M&#7853;t kh&#7849;u m&#7899;i:</label> </td>
				<td class="formcontrol"><input type='password' id='newpassword' name='newpassword' size='20' value=''> </td>
				<td><div id='notNullPass' name='notNullPass' style='visibility:hidden; color:#FF0000'> * password is not null</div></td>
			</tr>
			
			<tr>
			  <td class="formlabel">&nbsp;</td>
				<td class="formlabel"><label>Nh&#7853;p l&#7841;i m&#7853;t kh&#7849;u m&#7899;i:</label> </td>
				<td class="formcontrol"><input type='password' id='confpassword' name='confpassword' size='20' value=''> </td>
				<td><div id='confPass' name='confPass' style='visibility:hidden; color:#FF0000'> * cof. password is wrong </div></td>
			</tr>
			
			<tr>
			  <td colspan="4" align="center"><span style="color:red">$!error</span></td>
			  </tr>
			<tr>
			  <td></td>
				<td><input name="submit" type='submit' onClick="return showDiv();" value='Change password'></td>
				<td>&nbsp;</td>
			</tr>
			</table>
</body>