<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link rel='stylesheet' type='text/css' href='style-table.css' />
<script language="javascript">

	function showDiv(){
		var password = document.changepasswordform.newpassword.value;
		var confPass = document.changepasswordform.confpassword.value;
		if(password == ""){
			document.getElementById('notNullPass').style.visibility = "visible";
			return false;
		}
		else
			document.getElementById('notNullPass').style.visibility = "hidden";
			
		if(password!=confPass){
			document.getElementById('confPass').style.visibility = "visible";
			return false;
 		}else
			document.getElementById('confPass').style.visibility = "hidden";
		return true;
	}
	
</script>
<body id="wrap">
<div class="box">
<div>Login</div>
<form name='changepasswordform' action='clientChangepassword.action' method='POST'>
<br>
			<table>
			
			<tr>
				<td class="formlabel"><label>code:</label> </td>
				<td class="formcontrol"><input type='text' id='code' name='code' size='20' value='$!client.code'> </td>
				<td></td>
			</tr>
			
			<tr>
				<td class="formlabel"><label>password:</label> </td>
				<td class="formcontrol"><input type='password' id='password' name='password' size='20' value='$!client.password'> </td>
				<td></td>
			</tr>
			
			<tr>
				<td class="formlabel"><label>new password:</label> </td>
				<td class="formcontrol"><input type='password' id='newpassword' name='newpassword' size='20' value=''> </td>
				<td><div id='notNullPass' name='notNullPass' style='visibility:hidden; color:#FF0000'> * password is not null</div></td>
			</tr>
			
			<tr>
				<td class="formlabel"><label>conf. password:</label> </td>
				<td class="formcontrol"><input type='password' id='confpassword' name='confpassword' size='20' value=''> </td>
				<td><div id='confPass' name='confPass' style='visibility:hidden; color:#FF0000'> * cof. password is wrong </div></td>
			</tr>
			
			<tr>
			  <td colspan="3" align="center"><span style="color:red">$!error</span></td>
			  </tr>
			<tr>
				<td></td>
				<td><input type='submit' value='Change password' onClick="return showDiv();"></td>
			</tr>
			</table>
</body>