
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link href='style-table.css' rel='stylesheet' type='text/css'>
<div id='header'>
	<table>
	<tr> <td></td ><td></td> <td></td> <td></td> </tr>
	</table>
</div>
<div id='container'>
<h2>$i18n.get('druginvoicedetail')</h2>
<br>
<table>

	<tr>
	<td>$i18n.get('druginvoice'):</td>
	<td>$druginvoicedetail.druginvoice</td>
	</tr>
	
	<tr>
	<td>$i18n.get('drug'):</td>
	<td>$druginvoicedetail.drug</td>
	</tr>
	
	<tr>
	<td>$i18n.get('batchnumber'):</td>
	<td>$druginvoicedetail.batchnumber</td>
	</tr>
	
	<tr>
	<td>$i18n.get('expireddate'):</td>
	<td>$druginvoicedetail.expireddate</td>
	</tr>
	
	<tr>
	<td>$i18n.get('quantity'):</td>
	<td>$druginvoicedetail.quantity</td>
	</tr>
	
	<tr>
	<td>$i18n.get('subtotal'):</td>
	<td>$druginvoicedetail.subtotal</td>
	</tr>
	
	<tr>
	<td>$i18n.get('price'):</td>
	<td>$druginvoicedetail.price</td>
	</tr>
	
</table>
</div>
<div id='footer'>
	<table>
	<tr> <td></td ><td></td> <td></td> <td></td> </tr>
	</table>
</div>
