
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link rel='stylesheet' type='text/css' href='style-table.css' />
<script language='javascript' type='text/javascript' src='common.js'></script>

<body id='wrap'>
<br>
<div id='container' style='border:#FFFFFF thin solid; width:750; left:25; position: relative;'>
<div class='pageheader'>
<input name='button' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('adddruginvoicedetail').innerHTML=''" value=' X '>  
$i18n.get('edit') $i18n.get('druginvoicedetail')
</div>
<br>
<div id='msg'></div>
<br>
<form id='druginvoicedetailForm'  name='druginvoicedetailForm' action='druginvoicedetailUpdate.action'  method='POST'>
<input type='hidden' name='id' value='$!druginvoicedetail.id' size='15'>
<table>
<tr class='formlabel'>
			<td><label>$i18n.get('druginvoice'):</label> </td>
			<td>		
			<input type='hidden' id='druginvoice' name='druginvoice'  size='1' value='$!druginvoicedetail.druginvoice.id' onchange='makeGetRequestDruginvoiceByTypeHead()' onKeyPress="formname='druginvoicedetailForm'; nextfield='textdruginvoice';"> 			<input type='text' id='textdruginvoice' name='textdruginvoice' size='15'  value='$!druginvoicedetail.druginvoice.node' onKeyPress="formname='druginvoicedetailForm'; nextfield='cbodruginvoice'; isSelect=true;"  onkeyup='makeGetRequestDruginvoiceByTypeHead()' onclick='makeGetRequestDruginvoiceByTypeHead()'>	
			
			<div id='divdruginvoice' style='display:none;position:absolute' onKeyPress="formname='druginvoicedetailForm'; nextfield='textdrug';"></div>				
			<a href='javascript:void(0)' onClick="window.open('druginvoiceList.action', 'Add druginvoice', 'width=400, height=300')">+</a>			</td>
		
			<td><label>$i18n.get('drug'):</label> </td>
			<td>		
			<input type='hidden' id='drug' name='drug'  size='1' value='$!druginvoicedetail.drug.id' onchange='makeGetRequestDrugByTypeHead()' onKeyPress="formname='druginvoicedetailForm'; nextfield='textdrug';"> 			<input type='text' id='textdrug' name='textdrug' size='15'  value='$!druginvoicedetail.drug.node' onKeyPress="formname='druginvoicedetailForm'; nextfield='cbodrug'; isSelect=true;"  onkeyup='makeGetRequestDrugByTypeHead()' onclick='makeGetRequestDrugByTypeHead()'>	
			
			<div id='divdrug' style='display:none;position:absolute' onKeyPress="formname='druginvoicedetailForm'; nextfield='batchnumber';"></div>				
			<a href='javascript:void(0)' onClick="window.open('drugList.action', 'Add drug', 'width=400, height=300')">+</a>			</td>
		
			<td><label>$i18n.get('batchnumber'):</label></td> <td><input type='text' id='batchnumber' name='batchnumber' value='$!druginvoicedetail.batchnumber' size='15'  onkeypress="formname='druginvoicedetailForm'; nextfield='expireddate';"> </td>
			</tr><tr class='formlabel'>
				#if($!druginvoicedetail.expireddate)
					#set($ngay = "$druginvoicedetail.expireddate")
					#set($ngay = "$ngay.substring(8,10)/$ngay.substring(5,7)/$ngay.substring(0,4)")
				#end
			<td><label>$i18n.get('expireddate'):</label></td> 
			<td>
			<input type='text'  id='expireddate' name='expireddate' value='$!ngay' size='15' onblur='getSmartDate(this)' onKeyPress="formname='druginvoicedetailForm'; nextfield='quantity';" >
			<img src='images/calendar_icon.gif' id='triggerexpireddate'>			</td>
			
			<td>Th&aacute;ng HH </td> <td><input type='text'  id='expiredmonth' name='expiredmonth' value='$!druginvoicedetail.expiredmonth' size='15' onBlur='getSmartDate(this)' onKeyPress="formname='druginvoicedetailForm'; nextfield='quantity';" >
              <img src='images/calendar_icon.gif' id='triggerexpireddate'></td>
			
			<td><label></label></td>
			<td>&nbsp;</td>
			</tr>
			<tr class='formlabel'>
			  <td>$i18n.get('quantity'):</td>
			  <td><input type='text' id='quantity' name='quantity' value='$!druginvoicedetail.quantity' size='15'  onKeyPress="formname='druginvoicedetailForm'; nextfield='subtotal';"></td>

	  <tr class='formlabel'>
		<td><label>$i18n.get('price'):</label></td> <td><input type='text' id='price' name='price' value='$!druginvoicedetail.price' size='15' onKeyPress="formname='druginvoicedetailForm'; nextfield='updatedruginvoicedetail';"> </td>
<tr><td colspan='6'>
<input id='updatedruginvoicedetail' type='button' value="  $i18n.get('save')  " onKeyDown="javascript: validateDruginvoicedetail('edit', document.getElementById('druginvoicedetailForm') )" onClick="javascript: validateDruginvoicedetail('edit', document.getElementById('druginvoicedetailForm') )" onKeyPress="formname='druginvoicedetailForm'; nextfield = '';">


&nbsp;

</td></tr>
</table>
</form>
</div>
</body>
