<link href='style-table.css' rel='stylesheet' type='text/css'>
<form id='inlineencounterForm' name='inlineencounterForm' action='encounterAdd.action' class='niceform' method='POST'>
#set ($dateTool = $webwork.bean('org.apache.velocity.tools.generic.DateTool') )
<table border='0' width='800' cellpadding='1' cellspacing='1' bgcolor='#999999'>
<theader>
<tr class='tableheader'>
<th>Action</th>

	<th>$i18n.get('client')</th>	
	
	<th>$i18n.get('code')</th>	
	
	<th>$i18n.get('date')</th>	
	
	<th>$i18n.get('icd')</th>	
	
	<th>$i18n.get('solving')</th>	
	
	<th>$i18n.get('subclinical')</th>	
	
	<th>$i18n.get('advise')</th>	
	
	<th>$i18n.get('revisit')</th>	
	
	<th>$i18n.get('revisitdate')</th>	
	
	<th>$i18n.get('prescriptiontemplate')</th>	
	
	<th>$i18n.get('user')</th>	
	</tr>
</theader>
<tbody>
#foreach($encounter in $encounters)
	#if($encounter.id)
	<tr class='tableitem' id='tr$encounter.id' onDblClick="javascript:makeGetRequestAddEncounter($encounter.id, 'edit')">
	<td id='td$encounter.id'>
	<a href="javascript:makeGetRequestAddEncounter($encounter.id, 'edit')"></a> 
	<a href='javascript:void(0)' onClick="if(confirm('Do you want to delete?')){ window.open('encounterDelete.action?id=$encounter.id', 'Delete client', 'width=50, height=50'); document.getElementById('tr$encounter.id').style.background ='#CCCCCC'; document.getElementById('td$encounter.id').style.visibility='hidden'} "></a>
	
	<a href='javascript:void(0)' onClick="window.open('encounterView.action?id=$encounter.id', 'View encounter', 'width=600, height=500')"></a>	</td>	
	<script>
	</script>
		
		<td>$!encounter.client.node ($!encounter.client.age, $!encounter.client.sex) </td>
		
		<td>$!encounter.code</td>
		
		<td>$!dateTool.format('dd-MM-yyyy',$!encounter.date)</td>
		
		<td>$!encounter.icd.node</td>
		
		<td>$!encounter.solving.node</td>
		
			<td class='tableitemleft'>
		#set ($ids = $!encounter.indicationdetails)
		#set ($i=0)
		#foreach ($id in $ids)
			#set($i = $i+1)
			 
			#if($id.status == "NEW")
				<div style="color:red">$i.$id.service.node ($!id.paid) </div> 
			#else
				<div style="color:green">$i.$id.service.node ($!id.paid) </div>
			#end
		#end</td>
		
		<td>$!encounter.advise</td>
		
		<td>$!encounter.revisit</td>
		
		<td>$!dateTool.format('dd-MM-yyyy',$!encounter.revisitdate)</td>
		
		<td>$!encounter.prescriptiontemplate.node</td>
		
		<td>$!encounter.user.node</td>
	</tr>
	#end
</tbody>
#end
</table>
</form>