<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jQuery UI Example Page</title>
	
	    <script type="text/javascript" src="jhtmlArea/scripts/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="jhtmlArea/scripts/jquery-ui-1.7.2.custom.min.js"></script>
		<link rel="Stylesheet" type="text/css" href="jhtmlArea/style/jqueryui/ui-lightness/jquery-ui-1.7.2.custom.css" />
	
		<script type="text/javascript" src="jhtmlArea/scripts/jHtmlArea-0.7.0.js"></script>
		<link rel="Stylesheet" type="text/css" href="jhtmlArea/style/jHtmlArea.css" />
	
	
		<script type="text/javascript">
			$(function(){
			// Tabs
				
		        $("#page1").htmlarea(); // Initialize jHtmlArea's with all default values
       			$("#page2").htmlarea(); 
				$("#page3").htmlarea(); 
				$("#page4").htmlarea(); 
				
				$("#tabs-2").toggle();					
				$("#tabs-3").toggle();					
				$("#tabs-4").toggle();		
				
				$("#tpage1").click(
					function(){
					$("#tabs-1").toggle();				
					}
				);
				
				$("#tpage2").click(
					function(){
					$("#tabs-2").toggle();				
					}
				);
				
				$("#tpage3").click(
					function(){
					$("#tabs-3").toggle();				
					}
				);
				
				$("#tpage4").click(
					function(){
					$("#tabs-4").toggle();				
					}
				);
				
			});
		</script>
		<style type="text/css">
			/*demo page css*/
			body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
			.demoHeaders { margin-top: 2em; }
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}
		</style>	
</head>
<body>
<form name="frmFM" action="fmMaster.action" method="post">
<input type="hidden" name="encounterId" value="$encounter.id">
<input type="hidden" name="action" value="save">

<!-- Tabs -->
		<h2 class="demoHeaders">Bệnh án BSGĐ </h2>
		
		<p>
		Số Hồ sơ: __________Mã số: $!encounter.client.code<br>
        Tên:  $!encounter.client.age. Tuổi: $!encounter.client.age <br>
        Địa chỉ: $!encounter.client.address <br>
		Ngày khám: $!encounter.date. ĐT: $!encounter.client.phone<br>
		
		<div id="mytab">
			<ul>
	    		<input  type="submit" id="btnSave"  value="Save" />
				<a href="#" id="tpage1">Page 1</a>
				<a href="#" id="tpage2">Page 2</a>
				<a href="#" id="tpage3">Page 3</a>
				<a href="#" id="tpage4">Page 4</a>
			</ul>
			
			<div id="tabs-1"  >Page 1
			<textarea id="page1" name="page1" cols="100" rows="50">
			$!encounter.fmPage1
			</textarea>
			</div>
			<div id="tabs-2"  >Page 2
			<textarea id="page2" name="page2" cols="100" rows="50">
			$!encounter.fmPage2
			</textarea>
			</div>
			<div id="tabs-3"  >Page 3
			<textarea id="page3" name="page3" cols="100" rows="50">
			$!encounter.fmPage3
			</textarea>
			</div>
			<div id="tabs-4"  >Page 4
			<textarea id="page4" name="page4" cols="100" rows="50">
			$!encounter.fmPage4
			</textarea>
			</div>
		</div>
</form>
</body>
</html>


