
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link rel='stylesheet' type='text/css' href='style-table.css' />
<script language='javascript' type='text/javascript' src='common.js'></script>
#parse('myjs.vm')

<body id='wrap'>
<br>
<div id='container' style='border:#FFFFFF thin solid; width:750; left:25; position: relative;'>
<div class='pageheader'>
<input name='button' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('addicd').innerHTML=''" value=' X '>  
$i18n.get('edit') $i18n.get('icd')
</div>
<br>
<div id='msg'></div>
<br>
<form id='icdForm'  name='icdForm' action='icdUpdate.action'  method='POST'>
<input type='hidden' name='id' value='$!icd.id' size='15'>
<table>
<tr class='formlabel'>
			<td><label>$i18n.get('maso'):</label></td> <td><input type='text' id='maso' name='maso' value='$!icd.maso' size='15' value='' onkeypress="formname='icdForm'; nextfield='node';"> </td>
			
			<td><label>$i18n.get('node'):</label></td> <td><input type='text' id='node' name='node' value='$!icd.node' size='15' value='' onkeypress="formname='icdForm'; nextfield='updateicd';"> </td>
			

<tr><td colspan='6'>
<input id='updateicd' type='button' value="  $i18n.get('save')  " onkeydown="javascript: validateIcd('edit', document.getElementById('icdForm') )" onclick="javascript: validateIcd('edit', document.getElementById('icdForm') )" onkeypress="formname='icdForm'; nextfield = '';">


&nbsp;

</td></tr>
</table>
</form>
</div>
</body>
