
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link href='style-table.css' rel='stylesheet' type='text/css'>
<div id='header'>
	<table>
	<tr> <td></td ><td></td> <td></td> <td></td> </tr>
	</table>
</div>
<div id='container'>
<h2>$i18n.get('importinvoicedetail')</h2>
<br>
<table>

	<tr>
	<td>$i18n.get('importinvoice'):</td>
	<td>$importinvoicedetail.importinvoice</td>
	</tr>
	
	<tr>
	<td>$i18n.get('drug'):</td>
	<td>$importinvoicedetail.drug</td>
	</tr>
	
	<tr>
	<td>$i18n.get('quantity'):</td>
	<td>$importinvoicedetail.quantity</td>
	</tr>
	
	<tr>
	<td>$i18n.get('expireddate'):</td>
	<td>$importinvoicedetail.expireddate</td>
	</tr>
	
	<tr>
	<td>$i18n.get('batchnumber'):</td>
	<td>$importinvoicedetail.batchnumber</td>
	</tr>
	<tr>
	  <td>$i18n.get('visaNo'):</td>
	  <td>$!importinvoicedetail.visano</td>
    </tr>
	
	<tr>
	<td>$i18n.get('price'):</td>
	<td>$importinvoicedetail.price</td>
	</tr>
	
	<tr>
	<td>$i18n.get('discount'):</td>
	<td>$importinvoicedetail.discount</td>
	</tr>
	
	<tr>
	<td>$i18n.get('subtotal'):</td>
	<td>$importinvoicedetail.subtotal</td>
	</tr>
	
	<tr>
	<td>$i18n.get('note'):</td>
	<td>$importinvoicedetail.node</td>
	</tr>
</table>
</div>
<div id='footer'>
	<table>
	<tr> <td></td ><td></td> <td></td> <td></td> </tr>
	</table>
</div>
