
<div id='addimportinvoicedetail'>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link href='style-table.css' rel='stylesheet' type='text/css'>
<script language='javascript' type='text/javascript' src='common.js'></script>
#parse('myjs.vm')

<body id='wrap'>
<br>
<div id='container' style='border:#FFFFFF thin solid; width:750; left:25; position: relative;'>
<div class='pageheader'>
<input name='button' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('addimportinvoicedetail').innerHTML=''" value=' X '>  

$i18n.get('add') $i18n.get('importinvoicedetail')
<div id='msg' align='right'></div>
</div>

<form id='importinvoicedetailForm' name='importinvoicedetailForm' action='importinvoicedetailAdd.action' class='niceform' method='POST'>
<br>
<table>
<tr class='formlabel'>
			<td><label>$i18n.get('importinvoice'):</label> </td>
			<td>
			#set ($ses = $req.getSession())
					
			#set ($importinvoice_id = $ses.getAttribute('importinvoice_id'))
			#set ($importinvoice_node = $ses.getAttribute('importinvoice_node'))
			
			<input type='hidden' id='importinvoice' name='importinvoice'  size='1' value='$!importinvoice_id' onchange='makeGetRequestImportinvoiceByTypeHead()' onKeyPress="formname='importinvoicedetailForm'; nextfield='textimportinvoice';"> 
			
			<input type='text' id='textimportinvoice' name='textimportinvoice' size='15' value='$!importinvoice_node' onKeyPress="formname='importinvoicedetailForm'; nextfield='cboimportinvoice'; isSelect=true;"  onkeyup='makeGetRequestImportinvoiceByTypeHead()' onclick='makeGetRequestImportinvoiceByTypeHead()'>	
			
			<div id='divimportinvoice' style='display:none;position:absolute'  onkeypress="formname='importinvoicedetailForm'; nextfield='textdrug';"></div>							
			<a href='javascript:void(0)' onClick="window.open('importinvoiceList.action', 'Add importinvoice', 'width=400, height=300')">+</a>
			<td><label>$i18n.get('drug'):</label> </td>
			<td>
			#set ($ses = $req.getSession())
					
			#set ($drug_id = $ses.getAttribute('drug_id'))
			#set ($drug_node = $ses.getAttribute('drug_node'))
			
			<input type='hidden' id='drug' name='drug'  size='1' value='$!drug_id' onchange='makeGetRequestDrugByTypeHead()' onKeyPress="formname='importinvoicedetailForm'; nextfield='textdrug';"> 
			
			<input type='text' id='textdrug' name='textdrug' size='15' value='$!drug_node' onKeyPress="formname='importinvoicedetailForm'; nextfield='cbodrug'; isSelect=true;"  onkeyup='makeGetRequestDrugByTypeHead()' onclick='makeGetRequestDrugByTypeHead()'>	
			
			<div id='divdrug' style='display:none;position:absolute'  onkeypress="formname='importinvoicedetailForm'; nextfield='quantity';"></div>							
			<a href='javascript:void(0)' onClick="window.open('drugList.action', 'Add drug', 'width=400, height=300')">+</a>
			<td><label>$i18n.get('quantity'):</label></td> <td><input type='text'  id='quantity' name='quantity' size='15' value='$!importinvoicedetail.quantity' onKeyPress="formname='importinvoicedetailForm'; nextfield='expireddate';"> </td>
			</tr><tr class='formlabel'>
			<td><label>$i18n.get('expireddate'):</label></td> 
			<td>
			<input type='text'  id='expireddate' name='expireddate' size='15' onblur='getSmartDate(this)' onKeyPress="formname='importinvoicedetailForm'; nextfield='batchnumber';" value='$!dateTool.format('dd/MM/yyyy',$!importinvoicedetail.expireddate)'>
			<img src='images/calendar_icon.gif' id='triggerexpireddate'>			</td>
			
			<td><label>$i18n.get('batchnumber'):</label></td> <td><input type='text'  id='batchnumber' name='batchnumber' size='15' value='$!importinvoicedetail.batchnumber' onKeyPress="formname='importinvoicedetailForm'; nextfield='price';"> </td>
			
			<td><label>$i18n.get('price'):</label></td> <td><input type='text'  id='price' name='price' size='15' value='$!importinvoicedetail.price' onKeyPress="formname='importinvoicedetailForm'; nextfield='expiredmonth';"> </td>
			</tr>
			<tr class='formlabel'>
			  <td>$i18n.get('expiredmonth'):</td>
			  <td><input type='text'  id='expiredmonth' name='expiredmonth' size='15' onKeyPress="formname='importinvoicedetailForm'; nextfield='visanumber';" value='$!importinvoicedetail.expiredmonth'>
		      <img src='images/calendar_icon.gif' id='triggerexpireddate'></td>
			  <td>$i18n.get('visaNo'):</td>
			  <td><input type='text'  id='visano' name='visano' size='15' value='' onKeyPress="formname='importinvoicedetailForm'; nextfield='node';"></td>
			  <td>$i18n.get('note'):</td>
			  <td><input type='text'  id='node' name='node' size='15' value='$!importinvoicedetail.node' onKeyPress="formname='importinvoicedetailForm'; nextfield='discount';"></td>
	  </tr>
			<tr class='formlabel'>
			<td><label>$i18n.get('discount'):</label></td> <td><input type='text'  id='discount' name='discount' size='15' value='$!importinvoicedetail.discount' onKeyPress="formname='importinvoicedetailForm'; nextfield='subtotal';"></td>
			
			<td><label>$i18n.get('subtotal'):</label></td> <td><input type='text'  id='subtotal' name='subtotal' size='15' value='$!importinvoicedetail.subtotal' onKeyPress="formname='importinvoicedetailForm'; nextfield='saveimportinvoicedetail';"></td>
			
			<td><label></label></td> <td>&nbsp;</td>
			</tr>
<tr><td>
<input type='button' id='saveimportinvoicedetail' value="  $i18n.get('save')  " onKeyDown="javascript:validateImportinvoicedetail('add', document.getElementById('importinvoicedetailForm') )"  onclick="javascript:validateImportinvoicedetail('add', document.getElementById('importinvoicedetailForm') )" onKeyPress="nextfield='';">
</td></tr>
</table>
</form>
</div>
</body>
</div>
