
<link rel='stylesheet' type='text/css' href='style-table.css' />
<body id="wrap">
<br>
<div class="pageheader">Login</div>
<form name='loginform' action='login.action' method='POST'>
<br>
			<table width="100%">
			<tr>
			  <td width="262"></td>
			<td width="78"> </td>
			</tr>

			<tr>
			  <td class="formlabel">&nbsp;</td>
			<td class="formlabel"><label>username:</label> </td>
			<td width="444" class="formcontrol"><input type='text' id='username' name='username'  size='20' > </td>
			</tr>

			<tr>
			  <td class="formlabel">&nbsp;</td>
			<td class="formlabel"><label>password:</label> </td>
			<td class="formcontrol"><input type='password' id='password' name='password' size='20' > </td>
			</tr>
			<tr>
			  <td>&nbsp;</td>
			<td><input type='submit' value='Login'></td>
			<td></td>
			</tr>
			<tr>
			  <td></td>
			<td></td>
			<td><li><a href='selectSetting.action'>Go to setting</a>            
			  <li><a href='register.action'>Registration</a>			  </td>
			</tr>
			<tr>
			  <td></td>
			  <td></td>
			  <td>&nbsp;</td>
			  </tr>				
			</table>
</div>
</body>