
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link rel='stylesheet' type='text/css' href='style-table.css' />
<script language='javascript' type='text/javascript' src='common.js'></script>
#parse('myjs.vm')

<body id='wrap'>
<br>
<div id='container' style='border:#FFFFFF thin solid; width:750; left:25; position: relative;'>
<div class='pageheader'>
<input name='button' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('addoccupation').innerHTML=''" value=' X '>  
$i18n.get('edit') $i18n.get('occupation')
</div>
<br>
<div id='msg'></div>
<br>
<form id='occupationForm'  name='occupationForm' action='occupationUpdate.action'  method='POST'>
<input type='hidden' name='id' value='$!occupation.id' size='15'>
<table>
<tr class='formlabel'>
			<td><label>$i18n.get('node'):</label></td> <td><input type='text' id='node' name='node' value='$!occupation.node' size='15' value='' onkeypress="formname='occupationForm'; nextfield='updateoccupation';"> </td>
			

<tr><td colspan='6'>
<input id='updateoccupation' type='button' value="  $i18n.get('save')  " onkeydown="javascript: validateOccupation('edit', document.getElementById('occupationForm') )" onclick="javascript: validateOccupation('edit', document.getElementById('occupationForm') )" onkeypress="formname='occupationForm'; nextfield = '';">


&nbsp;

</td></tr>
</table>
</form>
</div>
</body>
