
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link rel='stylesheet' type='text/css' href='style-table.css' />
<script language='javascript' type='text/javascript' src='common.js'></script>
#parse('myjs.vm')

<body id='wrap'>
<br>
<div id='container' style='border:#FFFFFF thin solid; width:750; left:25; position: relative;'>
<div class='pageheader'>
<input name='button' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('addprescriptiondetail').innerHTML=''" value=' X '>  
$i18n.get('edit') $i18n.get('prescriptiondetail')
</div>
<br>
<div id='msg'></div>
<br>
<form id='prescriptiondetailForm'  name='prescriptiondetailForm' action='prescriptiondetailUpdate.action'  method='POST'>
<input type='hidden' name='id' value='$!prescriptiondetail.id' size='15'>
<table>
<tr class='formlabel'>
			<td><label>$i18n.get('encounter'):</label> </td>
			<td>		
			<input type='hidden' id='encounter' name='encounter'  size='1' value='$!prescriptiondetail.encounter.id' onchange='makeGetRequestEncounterByTypeHead()' onKeyPress="formname='prescriptiondetailForm'; nextfield='textencounter';"> 			<input type='text' id='textencounter' name='textencounter' size='15'  value='$!prescriptiondetail.encounter.node' onKeyPress="formname='prescriptiondetailForm'; nextfield='cboencounter'; isSelect=true;"  onkeyup='makeGetRequestEncounterByTypeHead()' onclick='makeGetRequestEncounterByTypeHead()'>	
			
			<div id='divencounter' style='display:none;position:absolute' onKeyPress="formname='prescriptiondetailForm'; nextfield='textdrug';"></div>				
			<a href='javascript:void(0)' onClick="window.open('encounterList.action', 'Add encounter', 'width=400, height=300')">  </a>			</td>
		
			<td><label>$i18n.get('drug'):</label> </td>
			<td>		
			<input type='hidden' id='drug' name='drug'  size='1' value='$!prescriptiondetail.drug.id' onchange='makeGetRequestDrugByTypeHead()' onKeyPress="formname='prescriptiondetailForm'; nextfield='textdrug';"> 			<input type='text' id='textdrug' name='textdrug' size='15'  value='$!prescriptiondetail.drug.node' onKeyPress="formname='prescriptiondetailForm'; nextfield='cbodrug'; isSelect=true;"  onkeyup='makeGetRequestDrugByTypeHead()' onclick='makeGetRequestDrugByTypeHead()'>	
			
			<div id='divdrug' style='display:none;position:absolute' onKeyPress="formname='prescriptiondetailForm'; nextfield='quantity';"></div>				
			<a href='javascript:void(0)' onClick="window.open('drugList.action', 'Add drug', 'width=400, height=300')"></a>			</td>
		
			<td><label>:</label></td> <td>&nbsp;</td>
			</tr><tr class='formlabel'>
			<td><label>$i18n.get('unit'):</label></td> <td><input type='text' id='unit' name='unit' value='$!prescriptiondetail.unit' size='15' onKeyPress="formname='prescriptiondetailForm'; nextfield='price';"> </td>
			
			<td><label>$i18n.get('price'):</label></td> <td><input type='text' id='price' name='price' value='$!prescriptiondetail.price' size='15'  onkeypress="formname='prescriptiondetailForm'; nextfield='timeuse';"> </td>
			
			<td><label>:$i18n.get('quantity')</label></td> <td><input type='text' id='quantity' name='quantity' value='$!prescriptiondetail.quantity' size='15' onKeyPress="formname='prescriptiondetailForm'; nextfield='unit';"></td>
			</tr>
			<tr class='formlabel'>
			  <td>$i18n.get('timeuse')</td>
			  <td><input type='text' id='timeuse' name='timeuse' value='$!prescriptiondetail.timeuse' size='15'  onKeyPress="formname='prescriptiondetailForm'; nextfield='quantityuse';"></td>
			  <td>$i18n.get('paid'):</td>
			  <td><select id='paid' name='paid' onkeypress="formname='prescriptiondetailForm'; nextfield='updateprescriptiondetail';" style="max-width:100">
                <option value='$!prescriptiondetail.paid' selected>$!prescriptiondetail.paid</option>
                <option value=N>N</option>
                <option value= Y> Y</option>
              </select></td>
			  <td>&nbsp;</td>


			  <td>&nbsp;</td>
	  </tr>
			<tr class='formlabel'>
			  <td><label>C&aacute;ch d&ugrave;ng </label></td>
			  <td><SELECT name="usageDescription" id="usageDescription" onKeyDown="fnKeyDownHandler(this, event);" onKeyUp="fnKeyUpHandler_A(this, event); return false;" onKeyPress = "return fnKeyPressHandler_A(this, event);"  onChange="fnChangeHandler_A(this, event);nextfield='note';">
                <OPTION value="" selected style="COLOR:#ff0000;BACKGROUND-COLOR:#ffff00;">-----</OPTION>
                <option value="S&aacute;ng 1v">S&aacute;ng 1v</option>
                <option value="S&aacute;ng 1/2v">S&aacute;ng 1/2v</option>
                <option value="S&aacute;ng 1/4v">S&aacute;ng 1/4v</option>
                <option value="Tr&#432;a 1v">Tr&#432;a 1v</option>
                <option value="Tr&#432;a 1/2v">Tr&#432;a 1/2v</option>
                <option value="Tr&#432;a 1/4v">Tr&#432;a 1/4v</option>
                <option value="Chi&#7873;u 1v">Chi&#7873;u 1v</option>
                <option value="Chi&#7873;u 1/2v">Chi&#7873;u 1/2v</option>
                <option value="Chi&#7873;u 1/4v">Chi&#7873;u 1/4v</option>
                <option value="T&#7889;i 1v">T&#7889;i 1v</option>
                <option value="T&#7889;i 1/2v">T&#7889;i 1/2v</option>
                <option value="T&#7889;i 1/4v">T&#7889;i 1/4v</option>
                <option value="S&aacute;ng 1v, tr&#432;a 1v, chi&#7873;u 1v, t&#7889;i 1v">S&aacute;ng 1v, tr&#432;a 1v, chi&#7873;u 1v, t&#7889;i 1v</option>
                <option value="S&aacute;ng 1/2v, tr&#432;a 1/2v, chi&#7873;u 1/2v, t&#7889;i 1/2v">S&aacute;ng 1/2v, tr&#432;a 1/2v, chi&#7873;u 1/2v, t&#7889;i 1/2v</option>
                <option value="S&aacute;ng 1/4v, tr&#432;a 1/4v, chi&#7873;u 1/4v, t&#7889;i 1/4v">S&aacute;ng 1/4v, tr&#432;a 1/4v, chi&#7873;u 1/4v, t&#7889;i 1/4v</option>
                <option value="S&aacute;ng 1v, chi&#7873;u 1v, t&#7889;i 1v">S&aacute;ng 1v, chi&#7873;u 1v, t&#7889;i 1v</option>
                <option value="S&aacute;ng 1/2v, chi&#7873;u 1/2v, t&#7889;i 1/2v">S&aacute;ng 1/2v, chi&#7873;u 1/2v, t&#7889;i 1/2v</option>
                <option>S&aacute;ng 1/4v, chi&#7873;u 1/4v, t&#7889;i 1/4v</option>
                <option value="S&aacute;ng 1v, chi&#7873;u 1v">S&aacute;ng 1v, chi&#7873;u 1v</option>
                <option value="S&aacute;ng 1/2v, chi&#7873;u 1/2v">S&aacute;ng 1/2v, chi&#7873;u 1/2v</option>
                <option value="S&aacute;ng 1/4v, chi&#7873;u 1/4v">S&aacute;ng 1/4v, chi&#7873;u 1/4v</option>
                <option value="S&aacute;ng 1v, tr&#432;a 1v, t&#7889;i 1v">S&aacute;ng 1v, tr&#432;a 1v, t&#7889;i 1v</option>
                <option value="S&aacute;ng 1/2v, tr&#432;a 1/2v, t&#7889;i 1/2v">S&aacute;ng 1/2v, tr&#432;a 1/2v, t&#7889;i 1/2v</option>
                <option value="S&aacute;ng 1/4v, tr&#432;a 1/4v, t&#7889;i 1/4v">S&aacute;ng 1/4v, tr&#432;a 1/4v, t&#7889;i 1/4v</option>
                <option value="S&aacute;ng 1v, t&#7889;i 1v">S&aacute;ng 1v, t&#7889;i 1v</option>
                <option value="S&aacute;ng 1/2v, t&#7889;i 1/2v">S&aacute;ng 1/2v, t&#7889;i 1/2v</option>
                <option value="S&aacute;ng 1/4v, t&#7889;i 1/4v">S&aacute;ng 1/4v, t&#7889;i 1/4v</option>
                <option value="S&aacute;ng 1 l&#7847;n">S&aacute;ng 1 l&#7847;n</option>
                <option value="S&aacute;ng 2 l&#7847;n">S&aacute;ng 2 l&#7847;n</option>
                <option value="T&#7889;i 1 l&#7847;n">T&#7889;i 1 l&#7847;n</option>
                <option value="T&#7889;i 2 l&#7847;n">T&#7889;i 2 l&#7847;n</option>
                <option value="S&aacute;ng 1 l&#7847;n, chi&#7873;u 1 l&#7847;n">S&aacute;ng 1 l&#7847;n, chi&#7873;u 1 l&#7847;n</option>
                <option value="S&aacute;ng 1 l&#7847;n, t&#7889;i 1 l&#7847;n">S&aacute;ng 1 l&#7847;n, t&#7889;i 1 l&#7847;n</option>
                <option value="Thoa s&aacute;ng">Thoa s&aacute;ng</option>
                <option value="Thoa t&#7889;i">Thoa t&#7889;i</option>
                <option value="Thoa tr&#432;&#7899;c khi ra n&#7855;ng">Thoa tr&#432;&#7899;c khi ra n&#7855;ng</option>
                <option value="Thoa sau khi r&#7917;a s&#7841;ch">Thoa sau khi r&#7917;a s&#7841;ch</option>
                <option value="Thoa m&#7897;t l&#7899;p m&#7887;ng s&aacute;ng, t&#7889;i">Thoa m&#7897;t l&#7899;p m&#7887;ng s&aacute;ng, t&#7889;i</option>
                <option value="Thoa ch&#7895; m&#7909;n">Thoa ch&#7895; m&#7909;n</option>
                <option value="Thoa tr&ecirc;n m&ocirc;i">Thoa tr&ecirc;n m&ocirc;i</option>
                <option value="B&ocirc;i khi c&ocirc;n tr&ugrave;ng c&#7855;n">B&ocirc;i khi c&ocirc;n tr&ugrave;ng c&#7855;n</option>
                <option value="Phun m&#7897;t l&#7899;p m&#7887;ng tr&ecirc;n m&#7863;t">Phun m&#7897;t l&#7899;p m&#7887;ng tr&ecirc;n m&#7863;t</option>
                <option value="X&#7883;t 1 nh&aacute;t s&aacute;ng, 1 nh&aacute;t t&#7889;i">X&#7883;t 1 nh&aacute;t s&aacute;ng, 1 nh&aacute;t t&#7889;i</option>
                <option value="X&#7883;t 1 l&#7847;n 2 nh&aacute;t b&ecirc;n m&#361;i">X&#7883;t 1 l&#7847;n 2 nh&aacute;t b&ecirc;n m&#361;i</option>
                <option value="R&#7917;a &acirc;m h&#7897; 2 l&#7847;n/ng&agrave;y">R&#7917;a &acirc;m h&#7897; 2 l&#7847;n/ng&agrave;y</option>
                <option value="R&#7917;a m&#7863;t">R&#7917;a m&#7863;t</option>
                <option value="Ti&ecirc;m b&#7855;p">Ti&ecirc;m b&#7855;p</option>
                <option value="Ti&ecirc;m t&#297;nh m&#7841;ch ch&#7853;m">Ti&ecirc;m t&#297;nh m&#7841;ch ch&#7853;m</option>
                <option value="Nh&eacute;t h&#7853;u m&ocirc;n">Nh&eacute;t h&#7853;u m&ocirc;n</option>
                <option value="Truy&#7873;n t&#297;nh m&#7841;ch">Truy&#7873;n t&#297;nh m&#7841;ch</option>
                <option value="&#272;&#7863;t &acirc;m &#273;&#7841;o 1v/l&#7847;n">&#272;&#7863;t &acirc;m &#273;&#7841;o 1v/l&#7847;n</option>
                <option value="U&#7889;ng khi th&#7845;y s&#7889;t">U&#7889;ng khi th&#7845;y s&#7889;t</option>
                <option value="1 chai">1 chai</option>
                <option value="1/2 chai">1/2 chai</option>
                <option value="1/4 chai">1/4 chai</option>
                <option value="1 &#7889;ng">1 &#7889;ng </option>
                <option value="1/2 &#7889;ng">1/2 &#7889;ng</option>
                <option value="1/4 &#7889;ng">1/4 &#7889;ng</option>
                <option value="1 tu&yacute;p">1 tu&yacute;p</option>
                <option value="1/2 tu&yacute;p">1/2 tu&yacute;p</option>
                <option value="1/4 tu&yacute;p">1/4 tu&yacute;p</option>
                <option value="1 g&oacute;i">1 g&oacute;i</option>
                <option value="1/2 g&oacute;i">1/2 g&oacute;i</option>
                <option value="1/4 g&oacute;i">1/4 g&oacute;i</option>
                <option value="1mg">1 mg</option>
                <option value="2 mg">2 mg</option>
                <option value="1 ml">1 ml</option>
                <option value="2 ml">2 ml</option>
                <!-- This is the Editable Option -->
                            </select></td>
			  <td><label>$i18n.get('howtouse'):</label></td>
			<td><select name="howtouse" id="howtouse" onkeydown="fnKeyDownHandler(this, event);" onkeyup="fnKeyUpHandler_A(this, event); return false;" onkeypress = "return fnKeyPressHandler_A(this, event);"  onChange="fnChangeHandler_A(this, event);nextfield='timeuse';">
              <option value="" selected style="COLOR:#ff0000;BACKGROUND-COLOR:#ffff00;">-----</option>
              <option value="u&#7889;ng">u&#7889;ng</option>
              <!-- This is the Editable Option -->
              <option value='nhai'>nhai</option>
              <option value="ng&#7853;m">ng&#7853;m</option>
              <option value="b&ocirc;i">b&ocirc;i</option>
              <option value="thoa">thoa</option>
              <option value="nh&eacute;t">nh&eacute;t</option>
              <option value="x&ocirc;ng">x&ocirc;ng</option>
              <option value="ch&iacute;ch">ch&iacute;ch</option>
              <option value="truy&#7873;n">truy&#7873;n</option>
            </select></td>
			
			<td>$i18n.get('note'):</td> 
			<td><input type='text' id='note' name='note' value='$!prescriptiondetail.note' size='15' onKeyPress="formname='prescriptiondetailForm'; nextfield='updateprescriptiondetail';"></td>
			</tr>

<tr><td colspan='6'>
<input id='updateprescriptiondetail' type='button' value="  $i18n.get('save')  " onKeyDown="javascript: validatePrescriptiondetail('edit', document.getElementById('prescriptiondetailForm') )" onClick="javascript: validatePrescriptiondetail('edit', document.getElementById('prescriptiondetailForm') )" onKeyPress="formname='prescriptiondetailForm'; nextfield = '';">


&nbsp;

</td></tr>
</table>
</form>
</div>
</body>