
<div id='addreceiptdetail'>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link href='style-table.css' rel='stylesheet' type='text/css'>
<script language='javascript' type='text/javascript' src='common.js'></script>
#parse('myjs.vm')

<body id='wrap'>
<br>
<div id='container' style='border:#FFFFFF thin solid; width:750; left:25; position: relative;'>
<div class='pageheader'>
<input name='button' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('addreceiptdetail').innerHTML=''" value=' X '>  

$i18n.get('add') $i18n.get('receiptdetail')
<div id='msg' align='right'></div>
</div>

<form id='receiptdetailForm' name='receiptdetailForm' action='receiptdetailAdd.action' class='niceform' method='POST'>
<br>
<table>
<tr class='formlabel'>
			<td><label>$i18n.get('receipt'):</label> </td>
			<td>
			#set ($ses = $req.getSession())
					
			#set ($receipt_id = $ses.getAttribute('receipt_id'))
			#set ($receipt_node = $ses.getAttribute('receipt_node'))
			
			<input type='hidden' id='receipt' name='receipt'  size='1' value='$!receipt_id' onchange='makeGetRequestReceiptByTypeHead()' onkeypress="formname='receiptdetailForm'; nextfield='textreceipt';"> 
			
			<input type='text' id='textreceipt' name='textreceipt' size='15' value='$!receipt_node' onkeypress="formname='receiptdetailForm'; nextfield='cboreceipt'; isSelect=true;"  onkeyup='makeGetRequestReceiptByTypeHead()' onclick='makeGetRequestReceiptByTypeHead()'>	
			
			<div id='divreceipt' style='display:none;position:absolute'  onkeypress="formname='receiptdetailForm'; nextfield='textservice';"></div>							
			<a href='javascript:void(0)' onclick="window.open('receiptList.action', 'Add receipt', 'width=400, height=300')">+</a>
		
			<td><label>$i18n.get('service'):</label> </td>
			<td>
			#set ($ses = $req.getSession())
					
			#set ($service_id = $ses.getAttribute('service_id'))
			#set ($service_node = $ses.getAttribute('service_node'))
			
			<input type='hidden' id='service' name='service'  size='1' value='$!service_id' onchange='makeGetRequestServiceByTypeHead()' onkeypress="formname='receiptdetailForm'; nextfield='textservice';"> 
			
			<input type='text' id='textservice' name='textservice' size='15' value='$!service_node' onkeypress="formname='receiptdetailForm'; nextfield='cboservice'; isSelect=true;"  onkeyup='makeGetRequestServiceByTypeHead()' onclick='makeGetRequestServiceByTypeHead()'>	
			
			<div id='divservice' style='display:none;position:absolute'  onkeypress="formname='receiptdetailForm'; nextfield='textdrug';"></div>							
			<a href='javascript:void(0)' onclick="window.open('serviceList.action', 'Add service', 'width=400, height=300')">+</a>
		
			<td><label>$i18n.get('drug'):</label> </td>
			<td>
			#set ($ses = $req.getSession())
					
			#set ($drug_id = $ses.getAttribute('drug_id'))
			#set ($drug_node = $ses.getAttribute('drug_node'))
			
			<input type='hidden' id='drug' name='drug'  size='1' value='$!drug_id' onchange='makeGetRequestDrugByTypeHead()' onkeypress="formname='receiptdetailForm'; nextfield='textdrug';"> 
			
			<input type='text' id='textdrug' name='textdrug' size='15' value='$!drug_node' onkeypress="formname='receiptdetailForm'; nextfield='cbodrug'; isSelect=true;"  onkeyup='makeGetRequestDrugByTypeHead()' onclick='makeGetRequestDrugByTypeHead()'>	
			
			<div id='divdrug' style='display:none;position:absolute'  onkeypress="formname='receiptdetailForm'; nextfield='quantity';"></div>							
			<a href='javascript:void(0)' onclick="window.open('drugList.action', 'Add drug', 'width=400, height=300')">+</a>
		</tr><tr class='formlabel'>
			<td><label>$i18n.get('quantity'):</label></td> <td><input type='text'  id='quantity' name='quantity' size='15' value='' onkeypress="formname='receiptdetailForm'; nextfield='price';"> </td>
			
			<td><label>$i18n.get('price'):</label></td> <td><input type='text'  id='price' name='price' size='15' value='' onkeypress="formname='receiptdetailForm'; nextfield='subtotal';"> </td>
			
			<td><label>$i18n.get('subtotal'):</label></td> <td><input type='text'  id='subtotal' name='subtotal' size='15' value='' onkeypress="formname='receiptdetailForm'; nextfield='insurancepay';"> </td>
			</tr><tr class='formlabel'>
			<td><label>$i18n.get('insurancepay'):</label></td> <td><input type='text'  id='insurancepay' name='insurancepay' size='15' value='' onkeypress="formname='receiptdetailForm'; nextfield='percentdiscount';"> </td>
			
			<td><label>$i18n.get('percentdiscount'):</label></td> <td><input type='text'  id='percentdiscount' name='percentdiscount' size='15' value='' onkeypress="formname='receiptdetailForm'; nextfield='discount';"> </td>
			
			<td><label>$i18n.get('discount'):</label></td> <td><input type='text'  id='discount' name='discount' size='15' value='' onkeypress="formname='receiptdetailForm'; nextfield='childunder6';"> </td>
			</tr><tr class='formlabel'>
			<td><label>$i18n.get('childunder6'):</label></td> <td><input type='text'  id='childunder6' name='childunder6' size='15' value='' onkeypress="formname='receiptdetailForm'; nextfield='actualpay';"> </td>
			
			<td><label>$i18n.get('actualpay'):</label></td> <td><input type='text'  id='actualpay' name='actualpay' size='15' value='' onkeypress="formname='receiptdetailForm'; nextfield='exedoctor';"> </td>
			
			<td><label>$i18n.get('exedoctor'):</label> </td>
			<td>
			#set ($ses = $req.getSession())					
			#set ($exedoctor_id = $ses.getAttribute('exedoctor_id'))
			#set ($exedoctor_node = $ses.getAttribute('exedoctor_node'))
			
			<select id='exedoctor' name='exedoctor' style='width:90px;max-width:90px' onkeypress="formname='receiptdetailForm'; nextfield='inddoctor';">
				<option value='$!exedoctor_id' selected> $!exedoctor_id - $!exedoctor_node </option>
			#foreach($exedoctor in $exedoctors)
				<option value='$exedoctor.id'>$exedoctor.id - $exedoctor.node</option>
			#end
			</select>
			</td>
		</tr><tr class='formlabel'>
			<td><label>$i18n.get('inddoctor'):</label> </td>
			<td>
			#set ($ses = $req.getSession())					
			#set ($inddoctor_id = $ses.getAttribute('inddoctor_id'))
			#set ($inddoctor_node = $ses.getAttribute('inddoctor_node'))
			
			<select id='inddoctor' name='inddoctor' style='width:90px;max-width:90px' onkeypress="formname='receiptdetailForm'; nextfield='cancel';">
				<option value='$!inddoctor_id' selected> $!inddoctor_id - $!inddoctor_node </option>
			#foreach($inddoctor in $inddoctors)
				<option value='$inddoctor.id'>$inddoctor.id - $inddoctor.node</option>
			#end
			</select>
			</td>
		
			<td><label>$i18n.get('cancel'):</label></td> <td><select id='cancel' name='cancel' style='width:90px;max-width:90px' onkeypress="formname='receiptdetailForm'; nextfield='savereceiptdetail';"> <option value=N>N</option><option value= Y> Y</option> </select></td>

			
<tr><td>
<input type='button' id='savereceiptdetail' value="  $i18n.get('save')  " onkeydown="javascript:validateReceiptdetail('add', document.getElementById('receiptdetailForm') )"  onclick="javascript:validateReceiptdetail('add', document.getElementById('receiptdetailForm') )" onkeypress="nextfield='';">
</td></tr>
</table>
</form>
</div>
</body>
</div>
