
<div id='addreport'>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link href='style-table.css' rel='stylesheet' type='text/css'>
<script language='javascript' type='text/javascript' src='common.js'></script>
#parse('myjs.vm')

<body id='wrap'>
<br>
<div id='container' style='border:#FFFFFF thin solid; width:750; left:25; position: relative;'>
<div class='pageheader'>
<input name='button' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('addreport').innerHTML=''" value=' X '>  

$i18n.get('add') $i18n.get('report')
<div id='msg' align='right'></div>
</div>

<form id='reportForm' name='reportForm' action='reportAdd.action' class='niceform' method='POST'>
<br>
<table>
<tr class='formlabel'>
			<td><label>$i18n.get('node'):</label></td> <td><input type='text'  id='node' name='node' size='15' value='' onkeypress="formname='reportForm'; nextfield='source';"> </td>
			
			<td><label>$i18n.get('source'):</label></td> <td><input type='text'  id='source' name='source' size='15' value='' onkeypress="formname='reportForm'; nextfield='note';"> </td>
			
			<td><label>$i18n.get('note'):</label></td> <td><textarea  id='note' name='note' size='15' onkeypress="formname='reportForm'; nextfield='savereport';">  </textarea></td>
			</tr>
<tr><td>
<input type='button' id='savereport' value="  $i18n.get('save')  " onkeydown="javascript:validateReport('add', document.getElementById('reportForm') )"  onclick="javascript:validateReport('add', document.getElementById('reportForm') )" onkeypress="nextfield='';">
</td></tr>
</table>
</form>
</div>
</body>
</div>
