
<link href='style-table.css' rel='stylesheet' type='text/css'>
<script language='javascript' type='text/javascript' src='common.js'></script>
#parse('myjs.vm')

<body id='wrap'>
<div id='adddruginvoicedetail'></div>
<br>
<div id='divDruginvoicedetail'>
<div id='container'>
<div class='pageheader'> 
<input name='button' type='button' style='border:thin #FF0000 solid; background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('divDruginvoicedetail').innerHTML=''" value=' X '>  
$i18n.get('list') $i18n.get('druginvoicedetail')  
</div>
<br>
<div id='msg'></div>
<div id='tabledruginvoicedetail' style='border:#FFFFFF thin solid; width:800; height: auto; left:25; overflow-y: auto; '>
<form id='inlinedruginvoicedetailForm' name='inlinedruginvoicedetailForm' action='druginvoicedetailAdd.action' class='niceform' method='POST'>
<table border='0' width='800' cellpadding='1' cellspacing='1' bgcolor='#999999'>
<theader>
<tr class='tableheader'>
<th>Action</th>

	<th>$i18n.get('drug')</th>	
	
	<th>$i18n.get('batchnumber')</th>	
	
	<th>$i18n.get('expireddate')</th>	
	
	<th>$i18n.get('quantity')</th>	
	
	<th>$i18n.get('subtotal')</th>	
	
	<th>$i18n.get('price')</th>	
	
</tr>



</theader>
<tbody>
#foreach($druginvoicedetail in $druginvoicedetails)
	#if($druginvoicedetail.id)
	<tr class='tableitem' id='tr$druginvoicedetail.id' onDblClick="javascript:makeGetRequestAddDruginvoicedetail($druginvoicedetail.id, 'edit')">
	<td id='td$druginvoicedetail.id'>
	<a href="javascript:makeGetRequestAddDruginvoicedetail($druginvoicedetail.id, 'edit')"><img src='images/edit.png' width='15' height='15' alt='Edit' /></a> 
	<a href='javascript:void(0)' onClick="if(confirm('Do you want to delete?')){ window.open('druginvoicedetailDelete.action?id=$druginvoicedetail.id', 'Delete client', 'width=50, height=50'); document.getElementById('tr$druginvoicedetail.id').style.background ='#CCCCCC'; document.getElementById('td$druginvoicedetail.id').style.visibility='hidden'} ">
	
	<img src='images/delete.png' width='15' height='15' alt='Delete' /></a>
	
	<a href='javascript:void(0)' onclick="window.open('druginvoicedetailView.action?id=$druginvoicedetail.id', 'View druginvoicedetail', 'width=400, height=300')"> <img src='images/view.png' width='15' height='15' alt='View' /> </a>
		
	</td>	
		
		<td>$!druginvoicedetail.druginvoice.node</td>
		
		<td>$!druginvoicedetail.drug.node</td>
		
		<td>$!druginvoicedetail.batchnumber</td>
		
		<td>$!druginvoicedetail.expireddate</td>
		
		<td>$!druginvoicedetail.quantity</td>
		
		<td>$!druginvoicedetail.subtotal</td>
		
		<td>$!druginvoicedetail.price</td>
			
	</tr>
	#end
</tbody>
#end
</table>
</form>
</div>
<a href="javascript:makeGetRequestAddDruginvoicedetail(0, 'add')"><img src='images/addin.png' width='15' height='15' alt='Add in the same window' /> $i18n.get('add') </a>
</div>
</div>
<br>

</body>
