
<form name='providerForm' action='providerAdd.action' class='niceform' method='POST'>
<table border='0' width='800' cellpadding='1' cellspacing='1' bgcolor='#999999'>
<theader>
<tr class='tableheader'>
<th>Action</th>

	<th>$i18n.get('node')</th>	
	
	<th>$i18n.get('address')</th>	
	
	<th>$i18n.get('phone')</th>	
	
	<th>$i18n.get('fax')</th>	
	
</tr>

<tr class='tableitem'>
<div id='inlineaddprovider' style='display:none;'>
<th><input type='button' id='saveprovider' value="  $i18n.get('save')  " onclick="javascript:validateProvider('add')" onkeypress="nextfield='';"></th>
<th> <input type='text'  id='node' name='node' size='8' value='' onkeypress="formname='inlineproviderForm'; nextfield='address';"> </th><th> <input type='text'  id='address' name='address' size='8' value='' onkeypress="formname='inlineproviderForm'; nextfield='phone';"> </th><th> <input type='text'  id='phone' name='phone' size='8' value='' onkeypress="formname='inlineproviderForm'; nextfield='fax';"> </th><th> <input type='text'  id='fax' name='fax' size='8' value='' onkeypress="formname='inlineproviderForm'; nextfield='saveprovider';"> </th>
</div>
</tr>

</theader>
<tbody>
#foreach($provider in $providers)
	#if($provider.id)
	<tr class='tableitem' onDblClick="javascript:makeGetRequestAddProvider($provider.id, 'edit')">
	<td>
	<a href="javascript:makeGetRequestAddProvider($provider.id, 'edit')"><img src='images/edit.png' width='15' height='15' alt='Edit' /></a> 
	<a href='providerDelete.action?id=$provider.id'><img src='images/delete.png' width='15' height='15' alt='Delete' /></a>
	<a href='javascript:void(0)' onclick="window.open('providerView.action?id=$provider.id', 'View provider', 'width=400, height=300')"> <img src='images/view.png' width='15' height='15' alt='View' /> </a>
	
	<input name='button' type='button' style='cursor:pointer;'  onclick="javascript:document.getElementById('menuprovider$provider.id').style.display='block'; " ondblclick="javascript:document.getElementById('menuprovider$provider.id').style.display='none'"  value='>>' >  
	
	<div id='menuprovider$provider.id' style='border:thin #FF0000 solid;background-color:#b9c9fe;cursor:pointer; width:100; display: none; position:absolute' onclick="this.style.display='none'">
 		
	</div>
	</td>
	
		
		<td>$!provider.node</td>
		
		<td>$!provider.address</td>
		
		<td>$!provider.phone</td>
		
		<td>$!provider.fax</td>
			
	</tr>
	#end
</tbody>
#end
</table>
</form>
