
<form name='roleformForm' action='roleformAdd.action' class='niceform' method='POST'>
<table border='0' width='800' cellpadding='1' cellspacing='1' bgcolor='#999999'>
<theader>
<tr class='tableheader'>
<th>Action</th>

	<th>$i18n.get('role')</th>	
	
	<th>$i18n.get('form')</th>	
	
	<th>$i18n.get('listable')</th>	
	
	<th>$i18n.get('addable')</th>	
	
	<th>$i18n.get('updatable')</th>	
	
	<th>$i18n.get('deletable')</th>	
	
</tr>

<tr class='tableitem'>
<div id='inlineaddroleform' style='display:none;'>
<th><input type='button' id='saveroleform' value="  $i18n.get('save')  " onclick="javascript:validateRoleform('add')" onkeypress="nextfield='';"></th>

			#set ($ses = $req.getSession())					
			#set ($role_id = $ses.getAttribute('role_id'))
			#set ($role_node = $ses.getAttribute('role_node'))
		<th>
			<input type='hidden' id='role' name='role'  size='1' value='$!role_id' onchange='makeGetRequestRoleByTypeHead()' onkeypress="formname='inlineroleformForm'; nextfield='textrole';"> 
			
			<input type='text' id='textrole' name='textrole' size='18' value='$!role_node' onkeypress="formname='inlineroleformForm'; nextfield='cborole';"  onkeyup='makeGetRequestRoleByTypeHead()' onclick='makeGetRequestRoleByTypeHead()'>	
			
			<div id='divrole' style='display:none;position:absolute'  onkeypress="formname='inlineroleformForm'; nextfield='form';"></div>				
		 </th>		
		<th> <input type='text'  id='form' name='form' size='8' value='' onkeypress="formname='inlineroleformForm'; nextfield='listable';"> </th><th> <input type='text'  id='listable' name='listable' size='8' value='Yes, No' onkeypress="formname='inlineroleformForm'; nextfield='addable';"> </th><th> <input type='text'  id='addable' name='addable' size='8' value='Yes, No' onkeypress="formname='inlineroleformForm'; nextfield='updatable';"> </th><th> <input type='text'  id='updatable' name='updatable' size='8' value='Yes, No' onkeypress="formname='inlineroleformForm'; nextfield='deletable';"> </th><th> <input type='text'  id='deletable' name='deletable' size='8' value='Yes, No' onkeypress="formname='inlineroleformForm'; nextfield='saveroleform';"> </th>
</div>
</tr>

</theader>
<tbody>
#foreach($roleform in $roleforms)
	#if($roleform.id)
	<tr class='tableitem' onDblClick="javascript:makeGetRequestAddRoleform($roleform.id, 'edit')">
	<td>
	<a href="javascript:makeGetRequestAddRoleform($roleform.id, 'edit')"><img src='images/edit.png' width='15' height='15' alt='Edit' /></a> 
	<a href='roleformDelete.action?id=$roleform.id'><img src='images/delete.png' width='15' height='15' alt='Delete' /></a>
	<a href='javascript:void(0)' onclick="window.open('roleformView.action?id=$roleform.id', 'View roleform', 'width=400, height=300')"> <img src='images/view.png' width='15' height='15' alt='View' /> </a>
	
	<input name='button' type='button' style='cursor:pointer;'  onclick="javascript:document.getElementById('menuroleform$roleform.id').style.display='block'; " ondblclick="javascript:document.getElementById('menuroleform$roleform.id').style.display='none'"  value='>>' >  
	
	<div id='menuroleform$roleform.id' style='border:thin #FF0000 solid;background-color:#b9c9fe;cursor:pointer; width:100; display: none; position:absolute' onclick="this.style.display='none'">
 		
	</div>
	</td>
	
		
		<td>$!roleform.role.node</td>
		
		<td>$!roleform.form</td>
		
		<td>$!roleform.listable</td>
		
		<td>$!roleform.addable</td>
		
		<td>$!roleform.updatable</td>
		
		<td>$!roleform.deletable</td>
			
	</tr>
	#end
</tbody>
#end
</table>
</form>
