
<link href='style-table.css' rel='stylesheet' type='text/css'>
<script language='javascript' type='text/javascript' src='common.js'></script>
#parse('myjs.vm')

<div id='divUserrole'>
<div id='container'>
<div class='pageheader'> 
<input name='button' type='button' style='border:thin #FF0000 solid; background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('divUserrole').innerHTML=''" value=' X '>  
$i18n.get('list') $i18n.get('userrole')  
</div>
<br>

<div id='msg'></div>
<div id='tableuserrole' style='border:#FFFFFF thin solid; width:800; height: auto; left:25; overflow-y: auto; '>
<form id='inlineuserroleForm' name='inlineuserroleForm' action='userroleAdd.action' class='niceform' method='POST'>
<table border='0' width='800' cellpadding='1' cellspacing='1' bgcolor='#999999'>
<theader>
<tr class='tableheader'>
<th>Action</th>

	<th>$i18n.get('user')</th>	
	
	<th>$i18n.get('role')</th>	
	
</tr>

<tr class='tableitem'>
<div id='inlineadduserrole' style='display:none;'>
<th><input type='button' id='saveuserrole' value="  $i18n.get('save')  " onkeydown="javascript:validateUserrole('add', document.getElementById('inlineuserroleForm') )"  onclick="javascript:validateUserrole('add', document.getElementById('inlineuserroleForm') )" onkeypress="nextfield='';">
</th>


			#set ($ses = $req.getSession())					
			#set ($user_id = $ses.getAttribute('user_id'))
			#set ($user_node = $ses.getAttribute('user_node'))
		<th>
			<input type='hidden' id='user' name='user'  size='1' value='$!user_id' onchange='makeGetRequestUserByTypeHead()' onkeypress="formname='inlineuserroleForm'; nextfield='textuser';"> 
			
			<input type='text' id='textuser' name='textuser' size='18' value='$!user_node' onkeypress="formname='inlineuserroleForm'; nextfield='cbouser';"  onkeyup='makeGetRequestUserByTypeHead()' onclick='makeGetRequestUserByTypeHead()'>	
			
			<div id='divuser' style='display:none;position:absolute'  onkeypress="formname='inlineuserroleForm'; nextfield='textrole';"></div>				
		 </th>		
		
			#set ($ses = $req.getSession())					
			#set ($role_id = $ses.getAttribute('role_id'))
			#set ($role_node = $ses.getAttribute('role_node'))
		<th>
			<input type='hidden' id='role' name='role'  size='1' value='$!role_id' onchange='makeGetRequestRoleByTypeHead()' onkeypress="formname='inlineuserroleForm'; nextfield='textrole';"> 
			
			<input type='text' id='textrole' name='textrole' size='18' value='$!role_node' onkeypress="formname='inlineuserroleForm'; nextfield='cborole';"  onkeyup='makeGetRequestRoleByTypeHead()' onclick='makeGetRequestRoleByTypeHead()'>	
			
			<div id='divrole' style='display:none;position:absolute'  onkeypress="formname='inlineuserroleForm'; nextfield='saveuserrole';"></div>				
		 </th>		
		
</div>
</tr>

</theader>
<tbody>
#foreach($userrole in $userroles)
	#if($userrole.id)
	<tr class='tableitem' id='tr$userrole.id' onDblClick="javascript:makeGetRequestAddUserrole($userrole.id, 'edit')">
	<td id='td$userrole.id'>
	<a href="javascript:makeGetRequestAddUserrole($userrole.id, 'edit')"><img src='images/edit.png' width='15' height='15' alt='Edit' /></a> 
	<a href='javascript:void(0)' onClick="if(confirm('Do you want to delete?')){ window.open('userroleDelete.action?id=$userrole.id', 'Delete client', 'width=50, height=50'); document.getElementById('tr$userrole.id').style.background ='#CCCCCC'; document.getElementById('td$userrole.id').style.visibility='hidden'} ">
	
	<img src='images/delete.png' width='15' height='15' alt='Delete' /></a>
	
	<a href='javascript:void(0)' onclick="window.open('userroleView.action?id=$userrole.id', 'View userrole', 'width=400, height=300')"> <img src='images/view.png' width='15' height='15' alt='View' /> </a>
		
	</td>	
		
		<td>$!userrole.user.node</td>
		
		<td>$!userrole.role.node</td>
			
	</tr>
	#end
</tbody>
#end
</table>
</form>
</div>
</div>
</div>
<br>

</body>
