
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<link rel='stylesheet' type='text/css' href='style-table.css' />
<script language='javascript' type='text/javascript' src='common.js'></script>
#parse('myjs.vm')

<body id='wrap'>
<br>
<div id='container' style='border:#FFFFFF thin solid; width:750; left:25; position: relative;'>
<div class='pageheader'>
<input name='button' type='button' style='border:thin #FF0000 solid;background-color:#FFCC33;cursor:pointer;' onClick="javascript:document.getElementById('addroom').innerHTML=''" value=' X '>  
$i18n.get('edit') $i18n.get('room')
</div>
<br>
<div id='msg'></div>
<br>
<form id='roomForm'  name='roomForm' action='roomUpdate.action'  method='POST'>
<input type='hidden' name='id' value='$!room.id' size='15'>
<table>
<tr class='formlabel'>
			<td><label>$i18n.get('node'):</label></td> <td><input type='text' id='node' name='node' value='$!room.node' size='15' value='' onkeypress="formname='roomForm'; nextfield='textdepartment';"> </td>
			
			<td><label>$i18n.get('department'):</label> </td>
			<td>		
			<input type='hidden' id='department' name='department'  size='1' value='$!room.department.id' onchange='makeGetRequestDepartmentByTypeHead()' onkeypress="formname='roomForm'; nextfield='textdepartment';"> 			<input type='text' id='textdepartment' name='textdepartment' size='18'  value='$!room.department.node' onkeypress="formname='roomForm'; nextfield='cbodepartment'; isSelect=true;"  onkeyup='makeGetRequestDepartmentByTypeHead()' onclick='makeGetRequestDepartmentByTypeHead()'>	
			
			<div id='divdepartment' style='display:none;position:absolute' onkeypress="formname='roomForm'; nextfield='doctor';"></div>				
			<a href='javascript:void(0)' onclick="window.open('departmentList.action', 'Add department', 'width=400, height=300')"> ... </a>
			</td>
		
			<td><label>$i18n.get('doctor'):</label></td> <td><input type='text' id='doctor' name='doctor' value='$!room.doctor' size='15' value='' onkeypress="formname='roomForm'; nextfield='updateroom';"> </td>
			</tr>

<tr><td colspan='6'>
<input id='updateroom' type='button' value="  $i18n.get('save')  " onkeydown="javascript: validateRoom('edit', document.getElementById('roomForm') )" onclick="javascript: validateRoom('edit', document.getElementById('roomForm') )" onkeypress="formname='roomForm'; nextfield = '';">


&nbsp;

</td></tr>
</table>
</form>
</div>
</body>
